#projects{
  padding: 32px 0px 80px 0px;
}

#projects #carousel{ 
  margin-bottom: 144px;
}

#projects .projects-title{
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 700;
}

#projects .category-img{
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  object-fit: cover;
  transition: all 0.8s ease;
}
#projects .category-img:hover {
  transform: translateY(-3px);
  transition: all 0.8s ease;
}

#introContainer{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top:0;
  left:0;
  z-index: 900000;
  background-color: white;
  animation-name: animation;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

#introContainer img{
  min-width: 408px;
  max-width: 95%;
  animation-name: animationImg;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}


.hide{
  display: none !important;
}
.animation,
.animation img{
  animation-play-state:running !important;
}

@keyframes animationImg {
  0%{
    opacity:1;
  }
  100%{
    opacity:0;
  }
}

@keyframes animation {
  0%{
    display: flex;
  }
  99%{
    opacity:0;
  }
  100%{
    display: none;
  }
}


@media (max-width: 576px){
  #projects{
    padding: 0px;
  }
  #projects .projects-title{
    display: none;
  }
  #projects .categories-container{
    margin-top: 0px;
  }
  .home-arrow{
    display: none !important;
  }
}