footer{
  background-color: white;
  padding: 60px 0px 120px 0px;
  border-top: 1px solid var(--light-grey-color)
}

footer .brand-container h1{
  font-weight: 700;
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 0px;
}
footer .brand-container p{
  font-size: 16px;
  color: var(--grey-color);
}

footer .title{
  color: var(--primary-color);
  margin-bottom: 24px;
  font-weight: 700;
}

footer .nav-items,
footer .menu ul{
  list-style-type: none;
  padding:0;
  margin: 0;
}
footer .nav-items li a,
footer .menu ul li a{
  color: var(--primary-color);
  text-decoration: none;
}
footer .nav-items li,
footer .menu ul li{
  margin-bottom: 20px;
}

footer .nav-items img{
  display: none;
}

footer .social img{
  display: flex !important;
}

footer .social{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .social span{
  display: none;
}
footer .social li{
  transition: all 0.4s ease;
}
footer .social li:hover{
  transform: translateY(-2px);
  transition: all 0.4s ease;
}
footer .social li:nth-of-type(2) img{
  width: 25px !important;
  height: 25px !important;
}
footer .social img{
  width: 20px !important;
  height: 20px !important;
  filter: brightness(0) saturate(100%) invert(15%) sepia(46%) saturate(5068%) hue-rotate(259deg) brightness(109%) contrast(126%);
}


@media (max-width: 576px) {
  footer{
    padding: 40px 0px 16px 0px;
  }
  footer .brand-container{
    margin-bottom: 16px;
  }
  footer .title{
    margin: 24px 0px 12px 0px;
  }
  footer .social{
    justify-content: flex-start;
  }
  footer .social li{
    margin-right: 16px;
  }
}